<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>TripServlet</servlet-name>
        <servlet-class>TripModule.controller.TripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TripController</servlet-name>
        <servlet-class>TripModule.controller.TripController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TripServlet</servlet-name>
        <url-pattern>/TripServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TripController</servlet-name>
        <url-pattern>/TripController</url-pattern>
    </servlet-mapping>
</web-app>
